:root {
  --bcg-clr: #15181c;
  --section-clr: #242f39;
  --font-clr: rgba(164, 167, 171, 0.88);
  --font-clr-light: rgba(203, 205, 211, 0.88);
  --border-clr: #404447;
  --border-clr-light: #8e8a88;
  --border-clr-dark: #0c0d0e;
  --btn-bcg: #252d34;
  --focus-clr: #64676a;

  --agi-clr: #439d39;
  --str-clr: #bd3939;
  --int-clr: #425bbd;

  --table-bcg: #252d35;
  --table-dark: rgb(26, 32, 36);
  --table-light: #252d35;
  --table-text: rgba(203, 196, 189, 0.775);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  background-color: var(--bcg-clr);
}

h1 {
  font-size: 3.2rem;
  color: var(--font-clr);
  text-align: center;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

.btn {
  padding: 0.65em 1.3em;
  border: 2px solid var(--border-clr-dark);
  background: var(--table-light);
  color: var(--font-clr-light);
  display: inline-block;
  text-decoration: none;
  font-size: 1.4em;
  transition: 0.15s ease-in-out;
  outline: none;
  cursor: pointer;
}

.btn--alt {
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  outline: none;
  border: none;
  display: block;
  background: none;
  margin: 0 auto;
  color: #8b8982;
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  border-color: var(--focus-clr);
}

.btn--alt:focus {
  opacity: 0.9;
  box-shadow: 0 0 0 2px #64676a;
}

.btn--alt:hover {
  opacity: 0.9;
}

/* LOADER */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-wrap {
  padding: 2.4em;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .page-wrap {
    padding: 3.2em;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loader__text {
  display: block;
  margin-top: 0.5em;
  color: var(--font-clr-light);
  opacity: 0.8;
  font-size: 1.2rem;
}

/* FOOTER */

.footer {
  background-color: rgba(0, 0, 0, 0.225);
  color: var(--font-clr-light);
  padding: 2.4em 3.2em;
}

.footer__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4em;
}

.copyright {
  font-size: 1.4rem;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-self: stretch;
  list-style: none;
}

.social__item {
  width: 30px;
  height: 30px;
}

.social__link {
  color: var(--font-clr-light);
  text-decoration: none;
  font-size: 2.8rem;
  opacity: 0.7;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:focus {
  border: 2px solid black;
  border-color: var(--focus-clr);
  border-radius: 4px;
}

@media (min-width: 640px) {
  .footer__inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .socials {
    align-items: center;
    flex-basis: 40%;
  }

  .social__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 9.6em 3em;
    margin-top: 3em;
  }

  .footer__inner {
    max-width: 1280px;
    margin: 0 auto;
  }

  .socials {
    flex-basis: 30%;
    max-width: 280px;
  }
}

/* ERROR MSGS */

.no-data {
  text-align: center;
  font-size: 1.4rem;
}

.page-wrap--error {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.error {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.error__title {
  text-align: center;
  line-height: 105%;
  color: var(--table-text);
  font-size: 4.2rem;
}

.error__text {
  font-size: 1.6rem;
  margin-top: 1em;
  text-align: center;
  color: var(--font-clr);
}

.error__home {
  align-self: center;
}

@media (min-width: 768px) {
  .error {
    justify-content: center;
    gap: 2em;
  }
}
