:root {
  --bcg-clr: #15181c;
  --section-clr: #242f39;
  --font-clr: rgba(164, 167, 171, 0.88);
  --font-clr-light: rgba(203, 205, 211, 0.88);
  --border-clr: #404447;
  --border-clr-light: #8e8a88;
  --border-clr-dark: #0c0d0e;
  --btn-bcg: #252d34;
  --focus-clr: #64676a;

  --agi-clr: #439d39;
  --str-clr: #bd3939;
  --int-clr: #425bbd;

  --table-bcg: #252d35;
  --table-dark: rgb(26, 32, 36);
  --table-light: #252d35;
  --table-text: rgba(203, 196, 189, 0.775);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  background-color: var(--bcg-clr);
}

h1 {
  font-size: 3.2rem;
  color: var(--font-clr);
  text-align: center;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

.btn {
  padding: 0.65em 1.3em;
  border: 2px solid var(--border-clr-dark);
  background: var(--table-light);
  color: var(--font-clr-light);
  display: inline-block;
  text-decoration: none;
  font-size: 1.4em;
  transition: 0.15s ease-in-out;
  outline: none;
}

.btn--alt {
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  outline: none;
  border: none;
  display: block;
  background: none;
  margin: 0 auto;
  color: #8b8982;
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  border-color: var(--focus-clr);
}

.btn--alt:focus {
  opacity: 0.9;
  box-shadow: 0 0 0 2px #64676a;
}

.btn--alt:hover {
  opacity: 0.9;
}

.section--heroes {
  padding: 3.2em 0;
}

.hero-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1.4em;
  list-style: none;
  margin: 0 auto;
  border-radius: 2px;
  border: 2px solid var(--border-clr-dark);
  box-shadow: 0 0 8px 3px rgb(13, 14, 14);
  padding: 0.65em;
  justify-items: center;
}

.hero-list__error {
  color: var(--table-text);
  font-size: 1.6rem;
  padding: 0.65em;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 33vw;
  transition: 0.15s ease-in-out;
  outline: none;
  position: relative;
}

.card:focus,
.card:focus-within,
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 0 4px var(--focus-clr);
}

.card__attr {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 28px;
  height: 28px;
  opacity: 0.9;
  border-radius: 50%;
}

.card__url {
  outline: none;
}

.card__portrait {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__title {
  font-size: 1.4rem;
  line-height: 95%;
  color: var(--font-clr);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .hero-list {
    max-width: 1024px;
    padding: 0.65em;
  }
}

/* Hero Page */

.section--hero {
  position: relative;
  max-width: 1024px;
  padding: 1em;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background: var(--bcg-clr);
  color: var(--font-clr);
}

.hero__main {
  margin: 2em 0 0;
}

.hero__img-container {
  position: relative;
  width: 100%;
  border-radius: 4px;
  max-width: 280px;
  min-height: 160px;
  margin: 0 auto;
}

.hero__portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__attribute {
  position: absolute;
  border-radius: 50%;
  width: 90px;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%);
  filter: contrast(90%) brightness(110%) saturate(140%);
}

.section--hero h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

.hero__name {
  text-align: center;
  line-height: 110%;
  padding: 0.15em 0;
  font-weight: 400;
  color: var(--font-clr-light);
}

.hero__roles {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.hero__abilities {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
  justify-content: space-between;
  margin: 2em auto;
  gap: 1em;
  max-width: 280px;
}

.hero__ability {
  max-width: 100px;
  outline: none;
  position: relative;
  height: 100%;
  min-height: 58px;
}

.hero__ability:focus {
  box-shadow: 0 0 0 2px #64676a;
}

.hero__ability-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__stats {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.stats {
  display: flex;
}

.stats--main {
  justify-content: space-around;
  margin-bottom: 2em;
}

.stats--sec {
  justify-content: space-evenly;
}

.stat {
  width: 56px;
  border-radius: 50%;
  margin-right: 1em;
  margin-left: 1em;
}

.stat img {
  width: 100%;
  border-radius: 50%;
  min-height: 56px;
}

.stat__values {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat__value {
  font-size: 1.6rem;
}

.stat__gain {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  transform: translateX(-2px);
}

.agi {
  border-color: #3a7d33;
}

.str {
  border-color: #9f3939;
}

.int {
  border-color: #3a4fa4;
}

@media (min-width: 640px) {
  .section--hero {
    padding: 1em 3em;
    border: 2px solid var(--border-clr-dark);
    box-shadow: 0 0 8px 3px rgb(13, 14, 14);
    margin: 3em;
  }

  section > article {
    max-width: 420px;
    width: 100%;
  }

  .hero__main {
    width: 100%;
  }

  h2 {
    font-size: 4.8rem;
  }

  .hero__roles {
    font-size: 1.6rem;
  }

  .hero__abilities {
    grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
    max-width: 420px;
    margin: 2em auto;
    padding: 0 1em;
  }

  .hero__stats {
    max-width: 420px;
    margin: 0 auto;
  }

  .stat {
    width: 66px;
  }

  .stat__value {
    font-size: 1.8rem;
  }

  .stat__gain {
    font-size: 1.2rem;
    transform: translateX(-3px);
  }
}

table {
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  color: var(--table-text);
  background: var(--table-bcg);
  padding: 2em;
  box-shadow: 0 0 0 4px #242f39;
  width: 100%;
}

.stats--sec table {
  text-align: right;
}

.stats--sec th {
  text-align: left;
}
.stats--sec tr:nth-of-type(1) {
  background: var(--table-dark);
}

tr:nth-of-type(2n) {
  background: var(--table-light);
}

tr:nth-of-type(2n + 1) {
  background: var(--table-dark);
}

tr > :nth-child(1) {
  padding-left: 0.4em;
}

tr > :nth-last-child(1) {
  padding-right: 0.4em;
}

th {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 105%;
  font-size: 1.3rem;
  min-width: min-content;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: var(--font-clr-light);
}

th + th {
  padding-left: 0.4em;
}

td + td {
  padding-left: 0.4em;
}

td {
  font-size: 1.2rem;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.stats--sec td svg {
  transform: translateY(1px);
}

.stats--sec td span {
  margin-left: 3px;
  display: inline-block;
}

@media (min-width: 640px) {
  .stats--sec table {
    width: 80%;
  }
}

.hero__items h3 {
  margin-bottom: 0.5em;
}

.hero__items-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 100%;
  margin: 0 auto;
}

.stage__label {
  text-align: center;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-weight: 400;
}

.stage__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 240px;
  margin: 0 auto;
}

.item {
  flex-basis: calc(24%);
  margin: 0.8em;
  position: relative;
  min-height: 43px;
  outline: none;
}

.item__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  outline: none;
  object-fit: cover;
}

.artifact {
  color: rgba(226, 155, 1, 1);
}

.common {
  color: rgba(43, 171, 1, 1);
}

.component {
  color: rgba(255, 255, 255, 1);
}

.consumable {
  color: rgba(29, 128, 231, 1);
}

.epic {
  color: rgba(184, 18, 249, 1);
}

.rare {
  color: rgba(26, 135, 249, 1);
}

.secret_shop {
  color: rgba(255, 255, 255, 1);
}

.item--artifact .item__img {
  box-shadow: 0 0 0 2px rgba(226, 155, 1, 0.85);
}

.item--common .item__img {
  box-shadow: 0 0 0 2px rgba(43, 171, 1, 0.85);
}

.item--component .item__img {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
}

.item--consumable .item__img {
  box-shadow: 0 0 0 2px rgba(29, 128, 231, 0.85);
}

.item--epic .item__img {
  box-shadow: 0 0 0 2px rgba(184, 18, 249, 0.85);
}

.item--rare .item__img {
  box-shadow: 0 0 0 2px rgba(26, 135, 249, 0.85);
}

.item--secret_shop .item__img {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
}

.item--artifact:focus-within {
  box-shadow: 0 0 0 2px rgba(226, 155, 1, 1), 0 0 0 4px #64676a;
}

.item--common:focus-within {
  box-shadow: 0 0 0 2px rgba(43, 171, 1, 1), 0 0 0 4px #64676a;
}

.item--component:focus-within {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 4px #64676a;
}

.item--consumable:focus-within {
  box-shadow: 0 0 0 2px rgba(29, 128, 231, 1), 0 0 0 4px #64676a;
}

.item--epic:focus-within {
  box-shadow: 0 0 0 2px rgba(184, 18, 249, 1), 0 0 0 4px #64676a;
}

.item--rare:focus-within {
  box-shadow: 0 0 0 2px rgba(26, 135, 249, 0.85), 0 0 0 4px #64676a;
}

.item--secret_shop:focus-within {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85), 0 0 0 4px #64676a;
}

@media (min-width: 640px) {
  .hero__items {
    max-width: none;
    width: 100%;
  }
}

/* MATCHUPS */

.matchups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
}

.matchup__hero {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: padding-box;
  outline: none;
  padding: 0.5em;
}

.matchup__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
  min-height: 48px;
}

.matchup__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.matchup__winrate {
  font-size: 2.4rem;
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 8px;
}

.matchup__winrate--green {
  color: var(--agi-clr);
}

.matchup__winrate--red {
  color: var(--str-clr);
}

.matchup__button {
  border: none;
  background: none;
  text-decoration: none;
  color: var(--table-text);
  font-size: 1.4rem;
  outline: none;
}

.matchup__button:focus {
  box-shadow: 0 0 0 2px #64676a;
  border-radius: 2px;
}

@media (min-width: 640px) {
  .matchups {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .hero__matchups {
    max-width: none;
  }
}

@media (min-width: 1024px) {
  .matchup__content {
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  .matchup__hero:focus-within .matchup__content {
    opacity: 1;
  }

  .matchup__content:hover {
    opacity: 1;
  }

  .matchup__winrate {
    font-size: 2rem;
    padding-top: 12px;
  }

  .matchup__button {
    font-size: 1.2rem;
  }
}

/* LORE */

.lore {
  font-size: 1.4rem;
  line-height: 145%;
  position: relative;
}

.lore__content {
  text-align: justify;
}

.lore__content--center {
  text-align: center;
}

.lore__show-more {
  margin: 0.5em auto;
}

@media (min-width: 640px) {
  .hero__lore {
    max-width: none;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  .section--hero {
    padding: 1em 3em;
    border: none;
    margin: 0 auto;
    box-shadow: none;
    max-width: 1280px;
  }

  .btn--back {
    margin-left: 0.75em;
    margin-bottom: 0.75em;
  }

  .section--hero h3 {
    margin: 0.35em 0 0.5em;
  }

  article {
    padding: 0.65em;
    border: 2px solid var(--border-clr-dark);
    box-shadow: 0 0 8px 3px rgb(13, 14, 14);
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.1fr;
    grid-template-rows: repeat(5, min-content);
    gap: 1.2em;
    align-items: center;
  }

  .hero__main {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .hero__lane-roles {
    grid-column: 2 / -1;
    padding: 0 0.65em 0.65em;
    height: 100%;
  }

  .hero__averages {
    grid-column: 2 / -1;
    padding: 0 0.65em 0.65em;
    height: 100%;
  }

  .hero__items {
    grid-row: 4/6;
  }

  table {
    padding: 0;
    width: 100%;
    border: 1px solid var(--table-dark);
    box-shadow: 0 0 4px 2px rgba(13, 14, 14, 0.122);
  }

  .stats--sec table {
    width: 100%;
  }

  .hero__matchups {
    height: 100%;
  }

  .matchups {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .hero__lore {
    grid-column: 2 / -1;
    padding: 0.65em 1.3em;
  }
}

/* LOADER */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-wrap {
  padding: 2.4em;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .page-wrap {
    padding: 3.2em;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loader__text {
  display: block;
  margin-top: 0.5em;
  color: var(--font-clr-light);
  opacity: 0.8;
  font-size: 1.2rem;
}

/* FILTER */

.app-title {
  margin: 0 0 0.75em;
}

.filters-wrap {
  border: 2px solid var(--border-clr-dark);
  box-shadow: 0 0 8px 3px rgb(13, 14, 14);
  padding: 0.65em;
  color: var(--font-clr-light);
}

.filters-wrap h2 {
  font-weight: 400;
  text-align: center;
  font-size: 1.8rem;
}

.filters-wrap h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

.filters__advanced {
  margin: 1em auto 0;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.65em 0;
  width: 100%;
}

.search__form {
  width: 100%;
}

.search__label {
  display: block;
  color: var(--font-clr-light);
  text-align: left;
  font-size: 1.4rem;
  padding: 0.15em 0;
}

.search__input {
  width: 100%;
  height: 36px;
  background: var(--table-light);
  color: var(--font-clr-light);
  border: 2px solid var(--border-clr-dark);
  outline: none;
  font-size: 1.6rem;
  padding: 0.4em;
}

.search__input:focus {
  border-color: var(--focus-clr);
}

@media (min-width: 1024px) {
  .search {
    max-width: 50%;
  }
}

/* LISTBOX */

.listbox {
  position: relative;
  display: inline-block;
}

.listbox__button {
  padding: 0.65em;
  border: 2px solid var(--border-clr-dark);
  background: var(--table-light);
  color: var(--font-clr-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  outline: none;
  z-index: 101;
  cursor: pointer;
  min-width: 120px;
}

.listbox__button:focus {
  border-color: var(--focus-clr);
}

.listbox__caret {
  font-size: 1.6rem;
  color: var(--font-clr);
}

.listbox__list {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  list-style: none;
  border: 2px solid var(--border-clr-dark);
  width: 100%;
  z-index: 100;
  background-color: var(--table-light);
}

.listbox__option {
  padding: 0.65em;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listbox__option:hover,
.listbox__option[aria-selected="true"] {
  background-color: var(--table-dark);
  cursor: pointer;
}

.listbox__option[aria-selected="true"] {
  box-shadow: 0 0 0 2px var(--focus-clr);
}

.listbox__option--selected {
  background-color: var(--table-dark);
}

.listbox__check {
  font-size: 1.1rem;
  color: #729233;
}

.filters {
  display: grid;
  justify-items: start;
}

/* Grid to switch order for A11Y */
.filters__sort {
  grid-row: 1 /2;
}

.filters__inner {
  width: 100%;
  grid-row: 2/3;
}

.filters__advanced {
  grid-row: 3/4;
}

.filters__inner--hidden {
  display: none;
}

.filters__inner-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

.filters > * + * {
  margin-top: 0.65em;
}

@media (min-width: 1024px) {
  .filters-wrap {
    max-width: 1024px;
    margin: 0 auto;
  }

  .filters__inner-center {
    width: 100%;
    align-items: flex-start;
  }
}

/* TOOLTIPS */

.tooltip-wrap {
  padding: 5px 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 49;
}

.tooltip {
  padding: 2em 1.5em;
  background-color: var(--bcg-clr);
  border: 2px solid var(--border-clr-dark);
  box-shadow: 0 0 8px 3px rgb(13, 14, 14);
  transition: 0.2s opacity ease-in-out;
}

.ability__name {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  color: var(--table-text);
  font-weight: 500;
}

.ability__property {
  color: var(--table-text);
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1px;
}

.ability__desc {
  width: 45ch;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 500;
  opacity: 0.8;
}

.ability__attr {
  color: var(--table-text);
  font-size: 1.1rem;
  margin-bottom: 2px;
  font-weight: 500;
}

.ability__attr span {
  color: #655e56;
}

.tooltip__footer {
  display: flex;
  margin-top: 0.7em;
}

.tooltip__footer span {
  color: #fb9c25;
  opacity: 0.885;
}

.ability__cd,
.item__cd,
.ability__mc,
.item__mc {
  display: inline-flex;
  align-items: center;
}

.ability__mc-icon,
.item__mc-icon,
.ability__cd-icon,
.item__cd-icon {
  margin-right: 0.5em;
  width: 12px;
  height: 12px;
  background-color: #00a6de;
  border-radius: 3px;
  margin-right: 3px;
}

.ability__mc,
.item__mc {
  margin-left: auto;
  margin-right: auto;
}

.item__cost {
  color: #f4d865;
  font-size: 1.3rem;
}

.ability__cd-icon,
.item__cd-icon {
  background: none;
  color: #a6a7ae;
  filter: invert(74%) sepia(7%) saturate(222%) hue-rotate(195deg)
    brightness(91%) contrast(83%);
}

/* TOOLTIP ITEMS */

.tooltip__header {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}

.tooltip__item-img {
  flex-grow: 0;
  width: 64px;
  min-height: 48px;
  margin-right: 15px;
}

.item__name {
  text-transform: uppercase;
  font-size: 1.8rem;
  white-space: nowrap;
  margin-bottom: 2px;
}

.item__hint {
  margin-top: 3px;
}

.item__hint-content {
  min-width: 45ch;
  line-height: 140%;
  font-size: 1.2rem;
  color: #d0cecd;
  opacity: 0.9;
}

.item__notes,
.item__attribs {
  margin-top: 1.5em;
}

.item__note {
  color: #48da71;
  margin-bottom: 1px;
  font-size: 1.2rem;
  min-width: 45ch;
}

.item__attrib {
  font-size: 1.2rem;
  white-space: nowrap;
}

.item__attrib-header {
  margin-left: 0.5em;
  margin-right: 2px;
  color: #7a7a7a;
}

.item__attrib-value {
  color: #fb9c25;
  font-weight: 500;
}

.item__attrib-footer {
  font-weight: 500;
  color: #d0cecd;
}

.item__lore {
  margin-top: 0.7em;
  color: #7a7a7a;
}

/* FOOTER */

.footer {
  background-color: rgba(0, 0, 0, 0.225);
  color: var(--font-clr-light);
  padding: 2.4em 3.2em;
}

.footer__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4em;
}

.copyright {
  font-size: 1.4rem;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-self: stretch;
  list-style: none;
}

.social__item {
  width: 30px;
  height: 30px;
}

.social__link {
  color: var(--font-clr-light);
  text-decoration: none;
  font-size: 2.8rem;
  opacity: 0.7;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:focus {
  border: 2px solid black;
  border-color: var(--focus-clr);
  border-radius: 4px;
}

@media (min-width: 640px) {
  .footer__inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .socials {
    align-items: center;
    flex-basis: 40%;
  }

  .social__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 9.6em 3em;
    margin-top: 3em;
  }

  .footer__inner {
    max-width: 1280px;
    margin: 0 auto;
  }

  .socials {
    flex-basis: 30%;
    max-width: 280px;
  }
}

/* ERROR MSGS */

.no-data {
  text-align: center;
  font-size: 1.4rem;
}

.page-wrap--error {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.error {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.error__title {
  text-align: center;
  line-height: 105%;
  color: var(--table-text);
  font-size: 4.2rem;
}

.error__text {
  font-size: 1.6rem;
  margin-top: 1em;
  text-align: center;
  color: var(--font-clr);
}

.error__home {
  align-self: center;
}

@media (min-width: 768px) {
  .error {
    justify-content: center;
    gap: 2em;
  }
}
