/* Colors
#100D0E 
#2F3235
#D0CECD */

:root {
  --bcg-clr: #15181c;
  --font-clr:  rgba(164, 167, 171, 0.88);
  --border-clr: #404447;
  --border-clr-light: #8e8a88;
  --btn-bcg: #252D34;
  --focus-clr: #64676a;

  --agi-clr: #3a7d33;
  --str-clr: #9f3939;
  --int-clr: #3a4fa4;

  --table-bcg: #252d35;
  --table-dark: rgb(26, 32, 36);
  --table-light: #252d35;
  --table-text: rgba(217, 207, 197, 0.85);
}

/* background: #191516;
color: #8B8982; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  background-color: var(--bcg-clr);
}

h1 {
  font-size: 3.2rem;
  color: var(--font-clr);
  text-align: center;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

.btn {
  background: var(--btn-bcg);
  display: inline-block;
  margin: 1em 2em 2em;
  text-decoration: none;
  color: var(--font-clr);
  padding: 0.4em 1em;
  font-size: 1.4em;
  border-bottom: 1px solid var(--border-clr);
}

.section--heroes {
  padding: 3.2em;
}

.hero-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 1.4em;
  list-style: none;
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  width: 100%;
  transition: 0.15s ease-in-out;
  outline: none;
  position: relative;
}

.card:focus,
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 0 4px var(--focus-clr);
}

.card__attr {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 28px;
  opacity: 0.9;
  border-radius: 50%;
}

.card__portrait {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__title {
  font-size: 1.6rem;
  line-height: 95%;
  color: var(--font-clr);
  text-decoration: none;
}

/* Hero Page */

.section--hero {
  position: relative;
  max-width: 1024px;
  padding: 1em;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background: var(--bcg-clr);
  color: var(--font-clr);
}

.hero__left > * + *,
.hero__right > * + * {
  margin-top: 2em;
}

.hero__img-container {
  position: relative;
  width: 100%;
  border-radius: 4px;
  max-width: 280px;
}

.hero__portrait {
  width: 100%;
}

.hero__attribute {
  position: absolute;
  border-radius: 50%;
  width: 90px;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%);
  /* opacity: 0.85; */
  filter: contrast(90%) brightness(110%) saturate(140%);
}

.section--hero h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.hero__name {
  text-align: center;
  line-height: 95%;
  font-weight: 400;
}

.hero__roles {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.fa-asterisk {
  font-size: 1rem;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.hero__abilities {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
  gap: 1em;
  max-width: 280px;
}

.hero__ability {
  max-width: 90px;
  outline: none;
  position: relative;
  height: 100%;
}

.hero__ability:focus {
  box-shadow: 0 0 0 2px #64676a;
}

.hero__ability-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__stats {
  display: flex;
  flex-direction: column;
}

.stats {
  display: flex;
}

.stats--main {
  justify-content: space-around;
}

.stats--sec {
  margin-top: 3.2em;
  justify-content: space-evenly;
}

.stat {
  width: 56px;
  border-radius: 50%;
  margin-right: 1em;
  margin-left: 1em;
}

.stat img {
  width: 100%;
  border-radius: 50%;
}

.stat__values {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat__value {
  font-size: 1.6rem;
}

.stat__gain {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  transform: translateX(-2px);
}

.agi {
  border-color: #3a7d33;
  /* color: #3a7d33; */
}

.str {
  border-color: #9f3939;
  /* color: #9f3939; */
}

.int {
  border-color: #3a4fa4;
  /* color: #3a4fa4; */
}

table {
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  color: var(--table-text);
  background: var(--table-bcg);
  padding: 2em;
  box-shadow: 0 0 0 4px #242f39;
  width: 100%;
}

.stats--sec table {
  text-align: right;
}

.stats--sec th {
  text-align: left;
}
.stats--sec tr:nth-of-type(1) {
  background: var(--table-dark);
}

tr:nth-of-type(2n) {
  background: var(--table-light);
}

tr:nth-of-type(2n + 1) {
  background: var(--table-dark);
}

tr > :nth-child(1) {
  padding-left: 0.4em;
}

tr > :nth-last-child(1) {
  padding-right: 0.4em;
}

th {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 105%;
  font-size: 1.3rem;
  min-width: min-content;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

th + th {
  padding-left: 0.4em;
}

td + td {
  padding-left: 0.4em;
}

td {
  font-size: 1.2rem;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.stats--sec td svg {
  transform: translateY(1px);
}

.stats--sec td span {
  margin-left: 3px;
  display: inline-block;
}

.hero__items-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2em;
  width: 100%;
  margin: 0 auto;
}

.stage__label {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.stage__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 220px;
  margin: 0 auto;
}

.item {
  flex-basis: calc(24%);
  margin: 0.8em;
  position: relative;
}

.item__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  outline: none;
}

.item--artifact {
  color: rgba(226, 155, 1, 1);
}

.item--common {
  color: rgba(43, 171, 1, 1);
}

.item--component {
  color: rgba(255, 255, 255, 1);
}

.item--consumable {
  color: rgba(29, 128, 231, 1);
}

.item--epic {
  color: rgba(184, 18, 249, 1);
}

.item--rare {
  color: rgba(26, 135, 249, 1);
}

.item--secret_shop {
  color: rgba(255, 255, 255, 1);
}

.item--artifact .item__img {
  box-shadow: 0 0 0 2px rgba(226, 155, 1, 0.85);
}

.item--common .item__img {
  box-shadow: 0 0 0 2px rgba(43, 171, 1, 0.85);
}

.item--component .item__img {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
}

.item--consumable .item__img {
  box-shadow: 0 0 0 2px rgba(29, 128, 231, 0.85);
}

.item--epic .item__img {
  box-shadow: 0 0 0 2px rgba(184, 18, 249, 0.85);
}

.item--rare .item__img {
  box-shadow: 0 0 0 2px rgba(26, 135, 249, 0.85);
}

.item--secret_shop .item__img {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
}

.item--artifact .item__img:focus {
  box-shadow: 0 0 0 2px rgba(226, 155, 1, 1), 0 0 0 4px #64676a;
}

.item--common .item__img:focus {
  box-shadow: 0 0 0 2px rgba(43, 171, 1, 1), 0 0 0 4px #64676a;
}

.item--component .item__img:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 4px #64676a;
}

.item--consumable .item__img:focus {
  box-shadow: 0 0 0 2px rgba(29, 128, 231, 1), 0 0 0 4px #64676a;
}

.item--epic .item__img:focus {
  box-shadow: 0 0 0 2px rgba(184, 18, 249, 1), 0 0 0 4px #64676a;
}

.item--rare .item__img:focus {
  box-shadow: 0 0 0 2px rgba(26, 135, 249, 0.85), 0 0 0 4px #64676a;
}

.item--secret_shop .item__img:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85), 0 0 0 4px #64676a;
}

/* MATCHUPS */

.matchups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
}

.matchup__hero {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: padding-box;
  outline: none;
  padding: 0.5em;
}

.matchup__img {
  width: 100%;
  outline: none;
}

.matchup__hero:focus {
  box-shadow: 0 0 0 2px #64676a;
}

/* LORE */

.lore {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 145%;
  position: relative;
}

.lore__show-more {
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.75;
  transition: 0.15s ease-in-out;
  outline: none;
  border: none;
  display: block;
  background: none;
  margin: 0 auto;
  color: #8b8982;
  border-radius: 2px;
}

.lore__show-more:focus {
  opacity: 1;
  box-shadow: 0 0 0 2px #64676a;
}

.lore__show-more:hover {
  opacity: 1;
}

.lore__more {
  display: none;
}
